body {
    background-color: #FCFCFC;
}
.min-vh-30 {
    min-height: 30vh!important;
}
.jb-wrap {
    width: 60%;
    margin: 10px auto;
    position: relative;
}
.jb-wrap img {
    width: 100%;
    vertical-align: middle;
}
.jb-text {
    padding: 5px;
    text-align: center;
    top: 43%;
    left: 46%;
    transform: translate( -50%, -50% );
    width: 100%;
}
table {
    border-collapse: collapse;
    text-align: center;
}
th {
    background: #fff
}

th, td {
    border: 1px solid #bababa;
    padding: 8px;
    height: 60px;
}


tr:hover {
    background: #d1d1d1;
}

.talk_bk {
    background-image: url(../img/about/introduction_talk.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 557px;
    background-size: contain;
}

.talk_intro {
    transform: translate( 0%, 80% );
}

@media (max-width: 1000px) {
    .talk_intro {
        transform: translate( 0%, 100% );
    }
}

@media (max-width: 800px) {
    .talk_intro {
        transform: translate( 0%, 135% );
        font-size: 13px;
    }
}
